*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;

}
#ptop{
    padding: 0px 30%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(37, 77, 64);
}

.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(16, 101, 17);
    font-weight: 700;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
}
.bubble{
    width: 60px;
    height: 60px;
    background-color: rgb(16, 70, 52);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.bubble:hover{
    background-color: rgb(4, 182, 33);
    cursor: pointer;
}
